.header {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 55px;
	box-sizing: border-box;
}

.header .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header .header-limiter h1 {
	float: left;
	font: normal 30px Cookie, Arial, Helvetica, sans-serif;
	line-height: 20px;
	margin: 0;
}

.header .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 20px;
	float: right;
}

.header .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header .header-limiter nav a:hover{
	opacity: 1;
}

.header .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* For the headers to look good, be sure to reset the margin and padding of the body */

body {
	margin:0;
	padding:0;
}

#container {
    display: flex;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    justify-content: center; /* center items horizontally, in this case */
    align-items: center;     /* center items vertically, in this case */
}

.box {
    width: 300px;
    margin: 5px;
    text-align: center;     /* will center text in <p>, which is not a flex item */
}

.center {
	margin: auto;
  width: 100%;
	text-align: center;
}

form select {
  display: inline-block;
}

textarea {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 20px;
  padding: 10px;
}

footer {
	margin-top: 50px;
}

/* Making the header responsive */

@media all and (max-width: 500px) {
	.header {
		padding: 20px 0;
		height: 50px;
	}

	.header .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header .header-limiter nav a {
		font-size: 16px;
	}
}

@media only screen and (max-device-width: 650px) {
	#container {
		flex-direction: column;     /* make main axis horizontal (default setting) */
	}
}
